@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
  img { max-width: 100%; }
}

.title-header {
  color: #FF9494;
  margin-bottom: 2vw;
}

.title-top {
  color: #FF9494;
  letter-spacing: 0.1em;
}

.title-top.pc {
  font-size: 3.2vw;
  width: 100vw;
}

.title-top.sp {
  font-size: 6.2vw;
  width: 60vw;
}

.title-top.pc div {
  float: left;
  margin-left: 10vw;
}

.icon {
  margin-top: 5vw;
}

.title-top img {
  width: 25vw;
}

.insta img {
  width: 5vw;
}

.title a{
  text-decoration: none;
  color: #FFF5E4;
}

.title-top a{
  text-decoration: none;
}

.title {
  background:#FF9494;
  width: 28vw;
  top: 5vw;
  left: 4vw;
  border-radius: 1vw;
}

.description.pc {
  font-size: 1.2vw;
}

.description.sp {
  font-size: 6.2vw;
}

.news.pc {
  font-size: 1.2vw;
}

.news.sp {
  font-size: 6.2vw;
}

/*ボタン外側*/
.menu-btn{
  position: fixed;
  z-index: 9999;
  top: 5vw;
  right: 4vw;
  display: flex;
  height: 10vw;
  width: 10vw;
  justify-content: center;
  align-items: center;
  background: #FF9494;
  cursor: pointer;
    width: 12vw;
    height:12vw;
  border-radius: 1vw;
}

/*ボタン内側*/
.menu-btn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 3vw;
    height: 0.8vw;
    border-radius: 0.6vw;
  background: #FFF5E4;
  }


.menu-btn span:nth-of-type(1) {
  top:3.68vw; 
  width: 45%;
}

.menu-btn span:nth-of-type(2) {
  top:5.7vw;
  width: 35%;
}

.menu-btn span:nth-of-type(3) {
  top: 7.7vw;
  width: 20%;
}

/*activeクラスが付与されると線が回転して×になる*/

.menu-btn.active span:nth-of-type(1) {
    top: 4.5vw;
    left: 4.5vw;
    transform: translateY(1.5vw) rotate(-135deg);
    width: 30%;
}

.menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(3){
    top: 7.5vw;
    left: 4.5vw;
    transform: translateY(-1.5vw) rotate(135deg);
    width: 30%;
}

/* コンテンツ */
#g-nav-pc {
  position: relative;
  width: 90vw;
  height: 4vw;
  background-color: #FF9494;
  border-radius: 0.5vw;
  font-size: 0;
}

#g-nav-pc a {
  line-height: 4vw;
  height: 100%;
  font-size: 1.4vw;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

a:nth-child(1) {
  width: 16vw;
}
a:nth-child(2) {
  width: 17vw;
}
a:nth-child(3) {
  width: 16vw;
}
a:nth-child(4) {
  width: 19vw;
}
a:nth-child(5) {
  width: 19vw;
}

#g-nav-sp{
    position: fixed;
    z-index: 999;
    top: 0vw;
    right: -120%;
    width: 40%;
    height: 100vh;
    background:#FF9494;
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav-sp.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav-sp.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 40vw;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav-sp ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 35%;
    left: 30%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav-sp li{
  list-style: none;
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#g-nav-sp li a{
  color: #FFF5E4;
  text-decoration: none;
  padding:3vw;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.year-month {
  align-items: center;
  color: #FF9494;
}

table {
  background: #FFE3E1;
  color: #D75281;
  align: center;
  cellspacing: 21;
  cellpadding: 21;
}

body{
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 3.2vw;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background:#FFF5E4;
  padding:4vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #660000;
  overflow-x: hidden;
}

a{
  color: #FF9494;
}

.lead{
  margin:4vw 0 0 0;
}

.btn-block{
  width: 10vw;  
  padding: 2vw;
}

img {
  width:10vw;
}
