@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
  img { max-width: 100%; }
}

.title-header {
  color: #19A7CE;
  margin-bottom: 1.2vw;
}

.title-header a {
  text-decoration: none;
}

.title-top {
  color: #19A7CE;
  letter-spacing: 0.1em;
}

.title-top.pc {
  font-size: 3.2vw;
  width: 100vw;
}

.title-top.sp {
  font-size: 6.2vw;
  width: 60vw;
}

.title-top.pc div {
  float: left;
  margin-left: 10vw;
}

.icon {
  margin-top: 5vw;
}

.title-top img {
  width: 30vw;
}

.insta img {
  width: 5vw;
}

.insta-head img{
  width: 2vw;
  float: right;
  margin-right: 3vw;
}

.title a{
  text-decoration: none;
  color: #F6F1F1;
}

.title-top a{
  text-decoration: none;
}

.title {
  background:#19A7CE;
  width: 28vw;
  top: 5vw;
  left: 4vw;
  border-radius: 1vw;
}

.about {
  margin-left: 2vw;
}

.about div {
  float: left;
  margin-left: 2vw;
}

.about img {
  width: 30vw;
}

.introduction {
  margin-left: 12vw;
  margin-top: 4vw;
  margin-bottom: 10vw;
  color: #19A7CE;
  font-size: 1.5vw;
}

.subtitle {
  font-size: 4vw;
  text-align: center;
  color: #19A7CE;
}

.subtitle p {
  margin-bottom: 0;
}

.subtitle-menu {
  font-size: 4vw;
  text-align: center;
  color: #19A7CE;
}

.news-date {
  font-size: 1.5vw;
  color: #19A7CE;
}

.news-title {
  font-size: 3vw;
  color: #19A7CE;
}

.news-title {
  margin-bottom: 0;
}

.news-top li {
  display: flex;
  vertical-align: middle;
}

.news-top span {
  font-size: 1.5vw;
  position: relative;
  top: 1vw;
  margin-right: 2vw;
}

.more {
  font-size: 1.5vw;
  text-align: right;
}

.more a{
  text-decoration: none;
}

.back {
  font-size: 1.5vw;
  text-align: center;
}

.back a {
  text-decoration: none;
}

.menu-border {
  width: 15vw;
  margin: auto;
  border-bottom: 0.5vw solid #19A7CE;
}

.menu ul {
  padding-right: 10vw;
  margin-top: 0;
}

.menu p {
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle-menu p {
  margin-top: 5vw;
  margin-bottom: 1vw;
}

.menu-charge {
  font-size: 1vw;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 20vw;
  margin: auto;
}

.menu-charge-name {
  text-align: left;
  margin: auto;
}

.menu-charge-price {
  text-align: right;
}

.menu-parent {
  text-align: center;
}

.menu-parent-description {
  font-size: 1vw;
  padding-bottom: 0.5vw;
}

.menu-parent-rule {
  font-size: 1.75vw;
  padding-top: 1vw;
}

.menu-child-nomiho {
  list-style: none;
  column-count: 2;
  text-align: center;
}

.menu-child {
  list-style: none;
}

.menu-child li {
  display: flex;
}

.menu-name-nomiho {
  margin-left: 3vw;
}

.menu-name {
  position: absolute;
  left: 21vw;
}

.menu-currency {
  position: absolute;
  right: 36vw;
}

.menu-price {
  margin-left: auto;
  margin-right: 10vw;
}

.menu-price-startat {
  position: absolute;
  right: 20vw;
}

.menu-description-name {
  position: absolute;
  left: 22vw;
  font-size: 1vw;
}

.menu-description-price {
  position: absolute;
  right: 39vw;
  font-size: 1vw;
  padding-top: 0.7vw;
}

.menu-description-subname {
  position: absolute;
  left: 16vw;
  font-size: 1vw;
}

.small {
  font-size: 1.5vw;
  padding-top: 0.5vw;
}

.menu-category {
  position: absolute;
  left: 15vw;
}

.menu-subname {
  position: absolute;
  left: 30vw;
}

/*ボタン外側*/
.menu-btn{
  position: fixed;
  z-index: 9999;
  top: 5vw;
  right: 4vw;
  display: flex;
  height: 10vw;
  width: 10vw;
  justify-content: center;
  align-items: center;
  background: #19A7CE;
  cursor: pointer;
    width: 12vw;
    height:12vw;
  border-radius: 1vw;
}

/*ボタン内側*/
.menu-btn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 3vw;
    height: 0.8vw;
    border-radius: 0.6vw;
    background: #F6F1F1;
}


.menu-btn span:nth-of-type(1) {
  top:3.68vw; 
  width: 45%;
}

.menu-btn span:nth-of-type(2) {
  top:5.7vw;
  width: 35%;
}

.menu-btn span:nth-of-type(3) {
  top: 7.7vw;
  width: 20%;
}

/*activeクラスが付与されると線が回転して×になる*/

.menu-btn.active span:nth-of-type(1) {
    top: 4.5vw;
    left: 4.5vw;
    transform: translateY(1.5vw) rotate(-135deg);
    width: 30%;
}

.menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(3){
    top: 7.5vw;
    left: 4.5vw;
    transform: translateY(-1.5vw) rotate(135deg);
    width: 30%;
}

.calendar table {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* コンテンツ */
#g-nav-pc {
  position: relative;
  width: 90vw;
  height: 4vw;
  background-color: #19A7CE;
  border-radius: 0.5vw;
  font-size: 0;
}

#g-nav-pc a {
  line-height: 4vw;
  height: 100%;
  font-size: 1.4vw;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

#g-nav-pc a:nth-child(1) {
  width: 16vw;
}
#g-nav-pc a:nth-child(2) {
  width: 17vw;
}
#g-nav-pc a:nth-child(3) {
  width: 16vw;
}
#g-nav-pc a:nth-child(4) {
  width: 19vw;
}
#g-nav-pc a:nth-child(5) {
  width: 19vw;
}

#g-nav-sp{
    position: fixed;
    z-index: 999;
    top: 0vw;
    right: -120%;
    width: 40%;
    height: 100vh;
    background:#19A7CE;
    transition: all 0.6s;
    font-size: 3.2vw;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav-sp.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav-sp.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 40vw;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav-sp ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 35%;
    left: 30%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav-sp li{
  list-style: none;
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#g-nav-sp li a{
  color: #F6F1F1;
  text-decoration: none;
  padding:3vw;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.year-month {
  text-align: center;
  color: #19A7CE;
}

.year-month p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  background: #AFD3E2;
  color: #146C94;
  align: center;
  cellspacing: 21;
  cellpadding: 21;
}

body{
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 2vw;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background:#FFF5E4;
  padding:3vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #146C94;
  overflow-x: hidden;
}

a{
  color: #19A7CE;
}

.lead{
  margin:4vw 0 0 0;
}

.btn-block{
  width: 10vw;  
  padding: 2vw;
}

img {
  width:10vw;
}
