@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
  img { max-width: 100%; }
}

body {
  background: #c0392b;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-backface-visibility: hidden;
}

#circle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid #fff;
  position: absolute;
  left: -250px;
}

.title {
  position: relative;
}

.title p {
  font-size: 30px;
  color: #fff;
  transform: translate(0, 120%)
}

.name {
  font-size: 15px;
  color: #fff;
}

ul {
  position: relative;
  transform: translate(0, 20%)
}


li {
  list-style: none;
  color: #fff;
}

li .drink{
  float: left;
}

li .date{
  font-size: 10px;
}

li .news{
  font-size: 20px;
}

li .menu{
  font-size: 20px;
}

li .price{
  font-size: 15px;
}
